<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    {% include "head.html" %}
</head>

<body>
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            {% include "header.html" %}
        </header>
        <main class="mdl-layout__content">
            {% include "main.html" %}
        </main>
    </div>
</body>

</html>