{% block content %}

<section id="panel" class="mdl-layout__tab-panel is-active"></section>

<script>

    function create_element(tag, id, text, class_name) {
        const elem = document.createElement(tag)
        if (id) { elem.id = id }
        if (text || text === 0) { elem.innerText = text }
        if (class_name) { elem.className = class_name }
        return elem
    }

    function loading(mode = "on") {
        if (mode == "on") {
            const dlg = document.createElement("dialog")
            const div = document.createElement("div")
            dlg.id = "dialog_spinner"
            dlg.style.cssText = "border: none; background-color: rgba(255,255,255,0);"
            div.classList.add("mdl-spinner", "mdl-js-spinner", "is-active")
            dlg.appendChild(div)
            document.body.appendChild(dlg)
            dlg.showModal()
        } else if (mode == "off") {
            document.querySelector("#dialog_spinner")?.remove()
        }
    }

    function check_visited_page() {
        document.querySelectorAll("td").forEach((elem) => {
            localStorage.getItem(elem.id) && elem.classList.add("visited")
        })
    }

    async function render_board(site = "hu", page = 0, pushing_state = true) {

        async function gen_table() {

            function click_item_cbfn(e) {
                const url_prefix = {
                    "hu": "http://m.humoruniv.com/board/read.html?table=pds&st=day&number=",
                    "dd": "https://www.dogdrip.net/dogdrip/"

                }
                const site_id = e.target.id
                localStorage.setItem(site_id, 1)
                location.href = url_prefix[site_id.split("_")[0]] + site_id.split("_")[1]
            }

            const res = await fetch(`http://192.168.0.14:5000//list/?site=${site}&page=${page}`, { method: 'get', mode: 'cors' })
            const json = await res.json()
            const table_class = "mdl-data-table mdl-js-data-table"
            const td_class = "mdl-data-table__cell--non-numeric"
            const table = create_element("table", "", "", table_class)
            const tbody = table.createTBody("tbody")
            let tr
            let td
            let title
            let site_id
            for (let row_id of Object.keys(json)) {
                title = json[row_id]["title"]
                site_id = `${site}_${json[row_id]["id"]}`
                tr = create_element("tr")
                td = create_element("td", site_id, title, td_class)
                td.addEventListener("click", click_item_cbfn)
                tr.appendChild(td)
                tbody.appendChild(tr)
            }
            return table
        }

        function gen_paging() {
            const page_count = 4
            const first_page = parseInt(page / page_count) * page_count
            const last_page = first_page + page_count - 1
            const div = document.createElement("div")
            const button_class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary"
            let button
            button = create_element("button", "", "<", button_class)
            if (first_page > 0) {
                button.addEventListener("click", () => { render_board(site, first_page - 1) })
            }
            div.appendChild(button)
            for (let i = first_page; i <= last_page; i++) {
                button = create_element("button", "", i, button_class)
                if (i == page) {
                    button.classList.replace("mdl-button--primary", "mdl-button--accent")
                } else {
                    button.addEventListener("click", () => { render_board(site, i) })
                }
                div.appendChild(button)
            }
            button = create_element("button", "", ">", button_class)
            button.addEventListener("click", () => { render_board(site, last_page + 1) })
            div.appendChild(button)
            div.style.textAlign = "center"
            div.id = "paging"
            return div
        }

        const table = await gen_table()
        const panel = document.querySelector("#panel")
        while (panel.hasChildNodes()) {
            panel.removeChild(panel.lastChild);
        }
        panel.appendChild(table)
        check_visited_page()
        document.querySelector(".mdl-layout__content").scrollTop = 0
        const paging = gen_paging()
        panel.appendChild(paging)
        pushing_state && history.pushState({ site: site, page: page }, null, `/?site=${site}&page=${page}`)
    }

    window.addEventListener("popstate", (e) => {
        render_board(e.state["site"], e.state["page"], false)
    })

    window.addEventListener("pageshow", check_visited_page)

    render_board()

</script>

{% endblock %}